body{
  background-color: #FAE3C6;
}
#footer{
  text-align: center;
}
.header{
  text-align: center;
}
.wordPanel{
  display: block;
  height: 125px;
  text-align: center;
}
.colorPanel{
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.colorPanel div{
  width: 150px;
  height: 150px;
  float: left;
}
.box.green{
  background-color: green;
}
.box.red{
  background-color: red;
}
.box.yellow{
  background-color: yellow;
}
.box.blue{
  background-color: blue;
}
.word.green{
  color: green;
  font-weight: bolder;
  font-size: 50px;
}
.word.red{
  color: red;
  font-weight: bolder;
  font-size: 50px;
}
.word.yellow{
  color: yellow;
  font-weight: bolder;
  font-size: 50px;
}
.word.blue{
  color: blue;
  font-weight: bolder;
  font-size: 50px;
}
