body{
  background-color: #FAE3C6;
}
.colorPanel{
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.colorPanel div{
  width: 150px;
  height: 150px;
  float: left;
}
.boxgreen{
  background-color: green;
}
.boxred{
  background-color: red;
}
.boxyellow{
  background-color: yellow;
}
.boxblue{
  background-color: blue;
}
