body{
  background-color: #FAE3C6;
  text-align: center;
}
.wordPanel{
  display: block;
  height: 120px;
}
.colorPanel{
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.colorPanel div{
  width: 125px;
  height: 125px;
  float: left;
}
.miscPanel{
  display: block;
  height: 50px;
}
.box.green{
  background-color: #9AF20C;
}
.box.red{
  background-color: #F20C1F;
}
.box.yellow{
  background-color: #FFE900;
}
.box.blue{
  background-color: #1696E5;
}
.word{
  font-size: 65px;
  font-weight: bolder;
}
.word.green{
  color: #9AF20C;
}
.word.red{
  color: #F20C1F;
}
.word.yellow{
  color: #FFE900;
}
.word.blue{
  color: #1696E5;
}
